button,
.back-button,
.action-button {
    background-color: rgb(40, 167, 69);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 1em;
}

.back-button {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.action-button {
    padding: 10px 15px;
    font-size: 1rem;
    margin-top: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

button:hover,
.action-button:hover {
    background-color: #0e702b;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* .dismiss-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
} */