@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}